body {
    width: 1289px;
    height: auto;
}

.container {
    max-width: 1239px;
    max-height: auto;
}

header {
    background-image: url(images/IMG_1148.jpg);
    width: 1200px;
    height: 1028px;

}

.navbar-brand {
    width: 222px;
    height: 172px;
}

.otsikot {
    font-family: Inria Serif;
    display: flex;
    justify-content: center;
    padding: 10px 15%; 
    /* tällä paddingilla sain siirrettyä enemmän keskelle */
}

.otsikko {
    font-family: 'Tangerine', cursive;
    font-size: 60px;
    display: flex;
    justify-content: center;
    font-display: center;
}

